/********************************************
* Custom CSS Styles for Basic Mockup Exercise
*
* Some CSS rules have been added for you below.
* Edit and add CSS rules as you see fit! :D
********************************************/

html,
body {
	margin: 0;
}

div.container {
	margin: 0 auto;
	height: 25px;
	background-color: #87CEFA;
	padding: 20px 30px;
}
h1 {
	text-align: center;
	margin-top:-10px;
	margin-left:5px;


}

div.instructions {
	border-color: gray;
	padding-bottom: 20px;
	display:block;
	margin: auto;
	position: static;
	border: solid;


}
section.clear {
	border: solid;
	width: 600px;
	position: relative;
	margin: auto;
	background-color: #87CEFA;
}

.clear {
	clear: both;
}
img.pull-left {
	border: solid;
	border-color: gray;
	display: inline-block;
	float: left;


}





/***
* Flexbox Sticky Footer
* http://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
***/

/*corrects IE min-height bug*/
html { display: flex;}
body { width: 100%;}

.sfooter {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}



.sfooter-content {
	flex: 1 0 auto;
	border: solid;
	background-color: black;

}
h3 {
	color: white;
	text-align: justify;

}
/******************************************
* Your CSS rules go down here
********************************************/